:root {
  --color-dark: #121214;
  --color-light: #F4f4f4;
  --color-accent-light: #F5F5F5;
  --color-accent-blue: #0044FF;
  --color-accent-red: #FF2C2F;
  --color-accent-favourite: #FC8181;

  --border: 1px solid var(--color-dark);
  --border-radius-card: 24px;
  --border-radius-image: 16px;
  --border-radius-form: 10px;

  --button-height: 42px;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-hover: 0px 4px 10px rgba(0, 0, 0, 0.25);

  --font-family-base: 'Montserrat', sans-serif;

  --container-width: 1240px;
  --container-padding-x: 20px;

  --section-padding-y: 40px;
  --card-padding-y: 20px;

  --input-height: 60px;
  --button-height: 42px;

  --transition-duration: 400ms;
}