.header {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 20px 0;
  font-weight: 600;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}