@use '../media' as *;
@use '../mixins' as *;

.section {
  padding-block: var(--section-padding-y);

  &__title {
    text-align: center;
    padding-top: var(--section-padding-y);
  }

  &__search {
    padding-block: var(--section-padding-y);

    &-phrase {
      text-align: center;
    }
  }

  &__filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &-content {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 4px;
      box-shadow: var(--shadow);
      padding: 8px;
      border-radius: 8px;

      @include hover {
        cursor: pointer;
      }
    }

    &-block {
      position: absolute;
      background-color: #fff;
      box-shadow: var(--shadow);
      border-radius: var(--border-radius-form);
      right: 0;
      top: 56px;
      width: 300px;
      z-index: 2;
      padding: 10px 30px;

      label {
        @include fluid-text(22, 16);
      }
    }

    &-title {
      @include fluid-text(22, 16);
    }
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    position: relative;

    &-input {
      display: flex;
      align-items: center;
      flex: 1;
      background-color: var(--color-accent-light);
      border: 0;
      border-radius: var(--border-radius-form);
      box-shadow: var(--shadow);
      outline: none;
      padding: 10px 60px;
      font-weight: 200;

      @include fluid-text(22, 18);

      @include hover {
        box-shadow: var(--shadow-hover);
      }
    }

    &-image {
      position: absolute;
      left: 10px;
      margin-left: auto;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    &-none {
      width: 100%;
      text-align: center;
      margin-top: 80px;
    }
  }

  .full-character {
    padding: 50px 80px;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius-card);
    display: flex;
    align-items: center;
    column-gap: 80px;
    transition: all 400ms ease;

    @include hover {
      box-shadow: var(--shadow-hover);
    }

    &__image {
      border-radius: var(--border-radius-card);
    }

    &__info-title {
      text-align: center;
      margin-bottom: 50px;
    }
  }
}
